parameters:
    level: 0
    inferPrivatePropertyTypeFromConstructor: true
    excludes_analyse:
        - */Tests/*
        - */Database/*
        - */Routes/*
        - 'rector.php'
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Access to an undefined static property#'
